<div class="container">
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr class="bg-info text-white"><th>Name</th><th>
            <th>Email ID</th><th>PASSWORD</th></tr><th>Mobile</th>
        </thead>
        <tbody>
        <tr *ngFor="let farmer of farmer">
            <td>{{farmer.name}}</td>
            <td>{{farmer.emailid}}</td>
            <td>{{farmer.password}}</td>
            <td>{{farmer.Mobilenum}}</td>
        </tr>
    </tbody>
    </table>
    </div>