<h1>Connectivity</h1>
<input type="text" placeholder = "Enter Name"    [(ngModel)]="farmer.name"/> <br/>
<!--input type="text" placeholder = "Enter Address"   [(ngModel)]="farmer.address"/> <br/-->

<input type="text" placeholder = "Email Id"   [(ngModel)]="farmer.email"/> <br/>
>
<input type="text" placeholder = "PASSWORD"[(ngModel)]="farmer.password"/> <br/>
<input type="text" placeholder = "Enter MobileNum"   [(ngModel)]="farmer.Mobilenum"/> <br/>


<button (click)="irrigreat()">Submit</button>