
Enter Login ID :<input type="text"     [(ngModel)]="loginId"  /> <br />
       
Enter Password :<input type="password" [(ngModel)]="password" /> <br />
<button (click)="loginSubmit()">Submit</button>'